@import url('aboutmeAnimations.css');

.about-me {
    display: flex;
    align-items: center;
    gap: 7rem;
    padding: 9rem 7rem;
}

.profile-leftSide {
    position: relative;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    outline: 4px solid #808080;
    outline-offset: 5px;
}

.profile-leftSide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile-leftSide .coin {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width: var(--coin-size);
    height: var(--coin-size);
    border-radius: 50%;
    overflow: hidden;
    animation: spin 1.5s linear infinite;
}

.profile-leftSide.flip .coin {
    animation-name: flip;
}

.profile-leftSide img[alt="Profile Background"] {
    object-fit: cover;
    filter: blur(3px);
    z-index: 0;
}

.profile-leftSide img[alt="Tarek Moustafa"] {
    top: 57%; 
    left: 50%; 
    transform: translate(-50%, -50%) scale(1.2);
    width: 74%;
    height: 100%;
    object-position: center;
    z-index: 1;
    user-select: none;
    opacity: 0;
    animation: tarekFadesSlideIn 1.3s ease forwards;
    animation-delay: 0.2s;
}

.aboutMe-rightSide{
    flex: 1;
    padding-right: 7rem;
}

.aboutMe-description-rightSide {
    flex: 1;
    padding-left: 190px;
}

.aboutMe-description-rightSide h1{
    color: #e0e0e0;
    font-size: 50px;
    font-family: var(--bitcoin-prop-single);
    font-weight: 400;
    user-select: none;
    padding-bottom: 20px;
}

.aboutMe-description-rightSide h1 #myName{
    color: rgba(255, 145, 61, 0.8);
}

.cursor {
    color: #e0e0e0;
    animation: blink 0.7s step-end infinite;
    font-family: var(--bitcoin-prop-single);
}

.aboutMe-description-rightSide h3 {
    font-family: var(--dm-sans);
    color: #d3d3d3;
    font-weight: 400;
    font-size: 1.4rem;
    user-select: none;
    opacity: 0;
    animation: fadeSlideRight 1.2s ease forwards;
    animation-delay: 0.3s;
}

.mySocials-rightSide-Bottom {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2.5rem;
    margin-left: 1.5px;
    opacity: 0;
    animation: fadeSlideLeft 1.2s ease forwards;
    animation-delay: 0.3s;
}

.mySocials-rightSide-Bottom a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1.6rem;
    transition: color 0.3s ease;
}

.mySocials-rightSide-Bottom a img[alt="GitHub"] { width: 2.5rem; height: 2.5rem; }
.mySocials-rightSide-Bottom a img[alt="LinkedIn"] { width: 2.2rem; height: 2.2rem; }
.mySocials-rightSide-Bottom a img[alt="Email"] { width: 4.5rem; height: 4.5rem; padding-top: 0.5rem;}

.mySocials-rightSide-Bottom a.github-link {
    justify-content: flex-start;
    gap: 0.5rem;
}

.mySocials-rightSide-Bottom a.github-link img[alt="GitHub"] {
    transition: filter 0.3s ease;
}

.mySocials-rightSide-Bottom a.github-link:hover img[alt="GitHub"] {
    filter: brightness(0) saturate(100%) invert(59%) sepia(67%) saturate(711%) hue-rotate(346deg) brightness(107%) contrast(102%);
}

.mySocials-rightSide-Bottom a.github-link::after {
    content: "Github";
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.3s ease, opacity 0.3s ease;
    font-family: var(--dm-sans);
    font-size: 1.5rem;
    font-weight: 600;
}

.mySocials-rightSide-Bottom a.github-link:hover::after {
    max-width: 6rem;
    opacity: 1;
}

.mySocials-rightSide-Bottom a.linkedin-link {
    justify-content: flex-start;
    gap: 0.5rem;
}

.mySocials-rightSide-Bottom a.linkedin-link img[alt="LinkedIn"] {
    transition: filter 0.3s ease;
}

.mySocials-rightSide-Bottom a.linkedin-link:hover img[alt="LinkedIn"] {
    filter: brightness(0) saturate(100%) invert(59%) sepia(67%) saturate(711%) hue-rotate(346deg) brightness(107%) contrast(102%);
}

.mySocials-rightSide-Bottom a.linkedin-link::after {
    content: "LinkedIn";
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.3s ease, opacity 0.3s ease;
    font-family: var(--dm-sans);
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 0.8rem;
    padding-left: 0.3rem;
}

.mySocials-rightSide-Bottom a.linkedin-link:hover::after {
    max-width: 7rem;
    opacity: 1;
}

.mySocials-rightSide-Bottom a.email-link {
    justify-content: flex-start;
    gap: 0.1rem;
}

.mySocials-rightSide-Bottom a.email-link img[alt="Email"] {
    transition: filter 0.3s ease;
}

.mySocials-rightSide-Bottom a.email-link:hover img[alt="Email"] {
    filter: brightness(0) saturate(100%) invert(59%) sepia(67%) saturate(711%) hue-rotate(346deg) brightness(107%) contrast(102%);
}

.mySocials-rightSide-Bottom a.email-link::after {
    content: "My Email";
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.3s ease, opacity 0.3s ease;
    font-family: var(--dm-sans);
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 0.3rem;

}

.mySocials-rightSide-Bottom a.email-link:hover::after {
    max-width: 8rem;
    opacity: 1;
}

.mySocials-rightSide-Bottom #moreAboutMe{
    font-family: var(--dm-sans);
    font-weight: 600;
    font-size: 1rem;
    padding-top: 0.4rem;
    gap: 0.28rem;
}

.mySocials-rightSide-Bottom #moreAboutMe .arrow-icon {
    width: 1.8rem;
    height: 1.8rem;
    padding-top: 0.2rem;
    transition: transform 0.3s ease;
}

.mySocials-rightSide-Bottom #moreAboutMe:hover .arrow-icon {
    transform: translateX(3px);
    filter: brightness(0) saturate(100%) invert(59%) sepia(67%) saturate(711%) hue-rotate(346deg) brightness(107%) contrast(102%);
}

.mySocials-rightSide-Bottom a:hover {
    color: rgba(255, 145, 61, 0.8);
}

.mySocials-rightSide-Bottom .resume-btn {
    background: var(--sad-colortwo);
    color: #e0e0e0;
    padding: 0.6rem 1.4rem;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    font-family: var(--dm-sans);
    font-size: 1rem;
    font-weight: 600;
    gap: 1rem;
    transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;       
}

.mySocials-rightSide-Bottom .resume-btn:hover{
    color: rgba(255, 145, 61, 0.8);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

.mySocials-rightSide-Bottom .resume-btn i {
    transition: color 0.3s ease;
}

.mySocials-rightSide-Bottom .resume-btn:hover i {
    color: #ffa019;
}