.animation-container-beginning {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding: 60px 0;
    background-color: var(--sad-colortwo);
}


/* =========================
        ICON ROWS
========================= */


.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}


.icon-track {
    display: flex;
    width: max-content;
}

.icon-set {
    display: flex;
    gap: 120px;
}


.icon-track i {
    color: #d4d4d4;
    font-size: 70px;
    transition: color 0.3s ease;
}

.icon-track i[class*="devicon-"] {
    font-size: 70px;
    line-height: 1;
    padding-right: 45px;
}

.icon-track i.fa-github:hover { color: #000000; }
.icon-track i.fa-html5:hover { color: #CC4622; }
.icon-track i.fa-css3-alt:hover { color: #1265A0; }
.icon-track i.fa-square-js:hover { color: #DBC218; }
.icon-track i.fa-twitch:hover { color: #7F3DE2; }
.icon-track i.fa-node-js:hover { color: #2B852B; }
.icon-track i.fa-java:hover { color: #006384; }
.icon-track i.fa-figma:hover { color: #D6441B; }
.icon-track i.devicon-flutter-plain:hover { color: #014B87; }
.icon-track i.fa-instagram:hover { color: #CC3853; }
.icon-track i.devicon-vscode-plain:hover { color: #007ACC; }

.icon-set i:last-child {
    margin-right: 80px;
}

.marquee {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );

    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
}

/* move right */

.marquee.right .icon-track {
    animation: moveRight 20s linear infinite;
    will-change: transform;
}


/* move left */

.marquee.left .icon-track {
    animation: moveLeft 20s linear infinite;
    will-change: transform;
}

.upper-icons:hover .icon-track,
.lower-icons:hover .icon-track,
.text-slide.left:hover,
.text-slide.right:hover {
    animation-play-state: paused;
}


@keyframes moveRight {

    from {
        transform: translate3d(-25%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }

}


@keyframes moveLeft {

    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-25%, 0, 0);
    }

}




/* =========================
        TEXT ROWS
========================= */


.animation-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    font-family: var(--poxast-regular);
}


.text-slide {
    display: flex;
    width: max-content;
}


.text-slide h1 {

    color: transparent;

    -webkit-text-stroke: 2px rgba(255, 255, 255, 1);

    font-size: clamp(24px, 3vw, 48px);
    
    font-weight: 800;

    margin: 0;

    padding-right: 80px;

    white-space: nowrap;

    opacity: 0.8;
    user-select: none;

}

.text-slide h1 span.outline {
    color: transparent;
-webkit-text-stroke: 2px rgba(255, 111, 0,0.8);
}

.text-slide h1 span.outline:hover {
color: rgba(255, 111, 0,1);
-webkit-text-stroke: 2px rgba(255, 255, 255, 1);
}

.text-slide h1 span.rest {
    color: transparent;
-webkit-text-stroke: 2px rgba(255, 255, 255, 1);
}

.text-slide h1 span.rest:hover {
color: #ffffff;
-webkit-text-stroke: 2px rgba(255, 111, 0,0.8);
}



.text-slide.left {
    animation: moveLeft 25s linear infinite;
    will-change: transform;
}



.text-slide.right {
    animation: moveRight 25s linear infinite;
    will-change: transform;
}