.diary-gamingCards {
    display: flex;
    justify-content: center;
}

.diary-table-container {
    position: relative;
    width: 100%;
    padding-left: 19rem;
}

.diary-table {
    display: block;
    width: 80%;
    height: 80%;
}

.food-pack {
    position: absolute;

    top: -37%;
    left: -3%;

    width:100%;
    height: auto;
}


.book-wrapper{
    position:absolute;

    top:-6%;
    left:30%;

    width:35%;
}

.book-content{

    position:absolute;

    top:25%;
    bottom:8%;
    left:12%;
    right:4%;

    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap:4%;
}

.book{
    display:block;
    width:100%;
}

.left-page{

    display:flex;
    flex-direction:column;

    padding:
        2.4rem
        1.8rem
        0.2rem
        1.4rem;

}

.post-header{

    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-bottom:1rem;
    font-family: var(--pixel-operator-mono8);
}

.post-header h2{

    font-size:0.8rem;

}

.post-header span{

    font-size:0.6rem;
}

.post-body{

    flex:1;

    overflow-y:auto;

    padding-right:.5rem;

    font-family: var(--pixel-operator-mono8);

    font-size: 0.8rem;

    line-height:1.8;
}

/* Chrome */

.post-body::-webkit-scrollbar{
    width:0;
}

/* Firefox */

.post-body{
    scrollbar-width:none;
}

.right-page{

    display:flex;
    justify-content:center;
    align-items:center;

    padding:2rem;
}

.right-page img{

    width:100%;
    object-fit:contain;
}