@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..900&display=swap');

/* other css files imports */

@import url("css/header/header.css");
@import url("css/aboutMe/aboutmeHome.css");
@import url("css/marqueeAnimation/beginningAnimation.css");
@import url("css/featuredProjects/featuredProjects.css");
@import url("css/myTechnologyStack/myTechnologyStackSection.css");
@import url("css/recentDiaryRecords/pixelArtDiarySection.css");
@import url("css/letsConnect/letUsConnectSection.css");

@font-face {
    font-family: 'Poxast Regular';
    src: url('assets/typography/Poxast-Regular.woff2') format('woff2'),
         url('assets/typography/Poxast-Regular.woff') format('woff'),
         url('assets/typography/Poxast-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Press Start 2P VA V7';
    src: url('assets/typography/PressStart2P-vaV7.woff2') format('woff2'),
         url('assets/typography/PressStart2P-vaV7.woff') format('woff'),
         url('assets/typography/PressStart2P-vaV7.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixel Operator Mono 8';
    src: url('assets/typography/PixelOperatorMono8.woff2') format('woff2'),
         url('assets/typography/PixelOperatorMono8.woff') format('woff'),
         url('assets/typography/PixelOperatorMono8.ttf') format('truetype');
}

/* reusable CSS variables across all files */

:root {

    --poxast-regular: "Poxast Regular", normal;
    --geist-pixel:"Pixelify Sans", sans-serif;
    --mozilla-text: "Mozilla Text", sans-serif;
    --story-script: "Story Script", sans-serif;
    --bubblegum-sans: "Bubblegum Sans", sans-serif;
    --space-grotesk: "Space Grotesk", sans-serif;
    --instrument-serif: "Instrument Serif", serif;
    --bitcoin-prop-single: "Bitcount Prop Single", swap;
    --dm-serif-display: "DM Serif Display", serif;
    --dm-sans: "DM Sans", sans-serif;
    --press-start-2p: "Press Start 2P VA V7", normal;
    --pixel-operator-mono8: "Pixel Operator Mono 8", normal;

    --sad-color: #121212;
    --sad-colortwo: #1e1e2e;

    --black-200: #020202;
    --black-500: #555555;
    --gray-100: #888888;

    --color-white: #fff;
    --color-creamson: #fff0de;

    --color-warmamber: #F78328;
    --color-darkerorange: #C76E00;
    --coin-side-color: #ffa019;
    --coin-size: 480px;
    --side: var(--coin-side-color);
    --side-dark: #b37000;
    --lowlight: #cc7a00;
    --coin-side-reversed: #808080;

    --color-backgroundwithmyorangeheader: #f3e8d8;
}

body {
    background-color: var(--sad-colortwo);
}